body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  
#content-show
{
    display: none;
}

.content-show
{
    transition: opacity 0.5s ease-in-out;
}